doctype html
html
  head
    title= title
    block scripts
            script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
            script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
            script(src="https://code.highcharts.com/highcharts.js")
            script(src="https://code.highcharts.com/modules/series-label.js")
            script(src="https://code.highcharts.com/modules/exporting.js")
            script(src="https://code.highcharts.com/modules/export-data.js")
            script(src="/javascripts/custom.js")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container-fluid
        block content
    hr
    footer
      p Copyright &copy; Argetlahm 2018
